<h1>{{model.data.children.0.data.subreddit}}</h1>

{{#each post in model.data.children}}
<article class="posts">
  <h2><a {{bind-attr href=post.data.url}}>{{post.data.title}}</a></h2>
  <p>By: {{post.data.author}}</p>
</article>
{{/each}}
